* {
    box-sizing: border-box;
}

/* Kontener strony resetowania hasła */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Wysokość 100% ekranu */
    width: 100vw; /* Szerokość 100% ekranu */
    position: fixed; /* Przytwierdzenie do ekranu */
    top: 0;
    left: 0;
    background-color: #f5f5f5;
}

/* Okno resetowania hasła */
.forgot-password-box {
    background-color: #3d4c75;
    padding: 12px 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px #1A2A42;
    text-align: center;
    color: white;
    width: 450px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrowanie */
    font-family: 'Inter', sans-serif;


}


/* Nagłówek */
.forgot-password-box h2 {
    margin-bottom: 20px;
}

/* Opis */
.forgot-password-box p {
    margin-bottom: 25px;
    font-size: 14px;
}

/* Sukces wiadomość */
.success-message {
    color: #4caf50;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Pola formularza */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;

}

/* Przycisk wysyłania */
button {
    width: 100%;
    padding: 10px;
    background-color: #1A2A42 !important;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.send-button:hover {
    background-color: #060606 !important;
}

/* Przycisk powrotu */
.back-button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.back-button:hover {
    background-color: #4E608E !important;
    color: #FFFFFF;
}
